.input {
  width: 350px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #ecebed;
  background-color: var(--color-neutral-6-white);
}

.input::placeholder {
  width: 91px;
  height: 18px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #cecece;
}
