<div class="input-group" [formGroup]="parentForm" [ngStyle]="getStyle()">
  <input
    type="{{ type }}"
    name="{{ name }}"
    formControlName="{{ name }}"
    [ngStyle]="getStyle()"
    [ngClass]="['input', className]"
    [disabled]="disabled"
    placeholder="{{ placeholder }}"
    value="{{ value }}"
    (change)="onValueChanged($event)"
    aria-label="input"
  />
  <span
    *ngIf="icon"
    class="icon-input"
    (click)="onIconClick()"
  ><app-icons class="icon" [icon]="icon"></app-icons></span>
</div>
