<button *ngIf="!icon"
  type="button"
  [ngClass]="['normal-button', className]"
  [disabled]="disabled"
  (click)="onBtnClick()"
  [ngStyle]="getStyle(hovered)"
  (mouseover)="hovered=true"
  (mouseleave)="hovered=false">
  <label class="label-button"
    [style.color]="whiteLabelStyle['labelColor']">
    <ng-content></ng-content>
  </label>
</button>

<button type="button"
  *ngIf="icon"
  [ngClass]="['icon-button', className]"
  (click)="onBtnClick()">
  <app-icons class="icon" [icon]="icon"></app-icons>
</button>
