<div class="tab" [attr.data-testid]="getTestId()">
  <div class="tab-itens">
    <div
      *ngFor="let st of status; let i = index"
      class="for-element"
      [ngStyle]="getStyle('activeTab', st.status)"
    >
      <div
        class="tab-link"
        [attr.data-testid]="getTestId('tabitem-' + i)"
        (click)="trocarTab(st.status)"
      >
        <div class="tab-item">
          <span class="tab-text">{{ st.status }}</span>
          <span>{{ st.qtde }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="tabcontent">
    <h1>Content</h1>
  </div>
</div>
