$default-border-color: #ecebed;
$box-shadow-color: rgba(0, 0, 0, 0.07);
$neutralColorGrey75: #cecece;
$header-shadow-color: rgba(208, 201, 214, 0.4);
$neutralColorWhite: #FFFFFF;
$neutralColorGrey: #383838;
$neutralColorBlack: #000000;
